{% extends 'base.html.twig' %}
{% block body %}
<table id="table-ordinateurs" class="table">
  <thead>
	<tr>
		<th>Marque</th>
		<th>Modèle</th>
		<th>Numéro de série</th>
		<th>Référence</th>
		<th>Type</th>
		<th>Editer</th>
		<th>Détails</th>
	</tr>
  </thead>
  <tbody>
	{% for elt  in elements %}
	<tr>
		<td>{{elt.modele}}</td>
		<td>{{elt.modele}}</td>
		<td>{{elt.serialnumber}}</td>
		<td>{{elt.reference}}</td>
		<td>{{elt.typeordinateur}}</td>
		<td><a href="/ordinateur/edit/{{elt.id}}">Editer</a></td>
		<td><a href="/ordinateur/details/{{elt.id}}">Détails</a></td>
	</tr>
	{% endfor %}
  
  </tbody>

</table>
{% endblock %}
