{% block form_label %}
	<label for="{{name}}" class="col-sm-2 col-form-label">{{name}}</label>
{% endblock %}

{% block text_widget %}
		<div class="col-sm-10">
			<input type="text" class="form-control" id = "{{name}}" name="{{name}}" value="{{value}}">
		</div>
{% endblock %}
