<table class="table">
<thead>
	<tr>
		<th>Site</th>
		<th>Adresse</th>
		<th>Code postal</th>
		<th>Ville</th>
		<th>Code</th>
	</tr>
</thead>
<tbody>
	{% for site in sites %}
	<tr>
		<td>{{site.nom}}</td>
		<td>{{site.adresse}}</td>
		<td>{{site.cp}}</td>
		<td>{{site.ville}}</td>
	</tr>
	{% endfor %}
</tbody>

</table>
{% for pdt in postesdetravails %}
	<h3>{{pdt.emplacement}}</h3>
	<table class="table">
		<thead>
			<th>ordinateur</th>
			<th>emplacement/th>
		</thead>
		<tbody>
			<td>{{pdt.pdt.getEmplacement.getNom}}</td>
			<td>{{pdt.pdt.getOrdinateur.getReference}}</td>
		</tbody>
		
	</table>
{% endfor %}
